window_overall/__pycache__/__init__.cpython-37.pyc
window_overall/__pycache__/window_overall.cpython-37.pyc
.ipynb_checkpoints/Untitled-checkpoint.ipynb
window_overall/__pycache__
.ipynb_checkpoints/

Untitled.ipynb
